<a href="https://colab.research.google.com/github/idiocter/Concept-of-AI/blob/workshop03/Workshop03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3.1 Warm Up Exercises:
##Sorting and Subsetting:
###Complete all following Task:  Dataset for the Task: "titanic.csv"

Following task is common for all the problem:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

In [19]:
"""
Problem: Sorting and Subsetting on Titanic Dataset

Workflow:
1. Load the Titanic dataset ("titanic.csv") into a pandas DataFrame.
2. Inspect the DataFrame to check:
   - Column names and data types
   - Number of non-null values per column
   - Any missing values present

Author: Bipul Regmi

"""
import pandas as pd
from google.colab import files
# Upload and load the Titanic dataset
print("Upload Titanic-Dataset.csv")
uploaded = files.upload()
titanic_df = pd.read_csv("Titanic-Dataset.csv")

# Display first few rows
print("\n\nFirst few rows of the DataFrame:")
display(titanic_df.head())

# Inspect DataFrame info (column names, dtypes, non-null counts)
print("\n\nDataFrame Information:")
titanic_df[['Pclass', 'Age']].info()

# Check for missing values in each column
print("\n\nMissing values per column:\n\n")
print(titanic_df.isnull().sum())

Upload Titanic-Dataset.csv

Saving Titanic-Dataset.csv to Titanic-Dataset (11).csv


First few rows of the DataFrame:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 14.1 KB


Missing values per column:


PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [22]:
"""
1. Sorting and Subsetting:
   - Create small DataFrames for specific columns.
   - Filter rows based on numeric and categorical conditions.

2. Exploratory Analysis:
   - Identify passengers with the highest fare relative to age.
   - Identify adult male passengers paying the highest fare relative to class.

3. Group-by Analysis:
   - Calculate percentage of total fare revenue by passenger class.
   - Calculate percentage of passengers by age group.

Author: Bipul Regmi
"""

# Problem 1 - Sorting

# Create DataFrame with only Fare column
fare = titanic_df[["Fare"]]
print("\n\nFare DataFrame head:")
display(fare.head())

# Create DataFrame with Pclass and Age columns
class_age = titanic_df[["Pclass", "Age"]]
print("\n\nClass & Age DataFrame head:")
display(class_age.head())

# Create DataFrame with Survived and Sex columns
survived_gender = titanic_df[["Survived", "Sex"]]
print("\n\nSurvived & Gender DataFrame head:")
display(survived_gender.head())



# Problem 3 - Fare relative to Age

# Fill missing Age values with median
titanic_df["Age"] = titanic_df["Age"].fillna(titanic_df["Age"].median())

# Create a new column FarePerYear
titanic_df["FarePerYear"] = titanic_df["Fare"] / titanic_df["Age"]

# Filter passengers with FarePerYear > 5
high_fare_age = titanic_df[titanic_df["FarePerYear"] > 5]

# Sort descending by FarePerYear
high_fare_age_srt = high_fare_age.sort_values(by="FarePerYear", ascending=False)

# Select only Name and FarePerYear
result_high_fare_age = high_fare_age_srt[["Name", "FarePerYear"]]
print("\n\nPassengers with highest fare relative to age:")
display(result_high_fare_age)



# Problem 3.1 - Fare relative to Class for Adult Males

# Create a new column FarePerClass
titanic_df["FarePerClass"] = titanic_df["Fare"] / titanic_df["Pclass"]

# Selecting adult male passengers (Age >= 18 and Sex == 'male')
adult_males = titanic_df[(titanic_df["Sex"] == "male") & (titanic_df["Age"] >= 18)]

# Sorting adult males by FarePerClass in descending order
adult_males_srt = adult_males.sort_values(by="FarePerClass", ascending=False)

# Selecting only Name, Age, and FarePerClass for final result
result_adult_males = adult_males_srt[["Name", "Age", "FarePerClass"]]

print("\n\nAdult male passengers paying highest fare relative to class:")
display(result_adult_males)

Fare DataFrame head:

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class & Age DataFrame head:

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived & Gender DataFrame head:

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Passengers with highest fare relative to age:

                                               Name  FarePerYear
305                  Allison, Master. Hudson Trevor   164.728261
297                    Allison, Miss. Helen Loraine    75.775000
386                 Goodwin, Master. Sidney Leonard    46.900000
164                    Panula, Master. Eino Viljami    39.687500
183                       Becker, Master. Richard F    39.000000
..                                              ...          ...
348          Coutts, Master. William Loch "William"     5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)     5.232886
205                      Strom, Miss. Telma Matilda     5.231250
813              Andersson, Miss. Ebba Iris Alfrida     5.212500
480                  Goodwin, Master. Harold Victor     5.211111

[71 rows x 2 columns]

Adult male passengers paying highest fare relative to class:

                                   Name   Age  FarePerClass
737              Lesurer, Mr. Gustave J  35.0      512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0      512.3292
27       Fortune, Mr. Charles Alexander  19.0      263.0000
438                   Fortune, Mr. Mark  64.0      263.0000
118            Baxter, Mr. Quigg Edmond  24.0      247.5208
..                                  ...   ...           ...
179                 Leonard, Mr. Lionel  36.0        0.0000
732                Knight, Mr. Robert J  28.0        0.0000
822     Reuchlin, Jonkheer. John George  38.0        0.0000
806              Andrews, Mr. Thomas Jr  39.0        0.0000
815                    Fry, Mr. Richard  28.0        0.0000

[519 rows x 3 columns]

## Problem - 2 - Subsetting:
Complete all the following Task:
##Subsetting Rows:
1. Filter the Titanic dataset for cases where the passengers fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passengers class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passengers age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.
##Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [23]:
"""
This script performs subsetting operations on the Titanic dataset to extract specific groups of passengers.
It covers two types of subsetting: numeric-based and categorical-based.

Problem 2.0 - Subsetting Rows:
1. Extract passengers with fare greater than 100.
2. Extract first-class passengers (Pclass = 1).
3. Extract female passengers under 18 years of age.

Problem 2.1 - Subsetting by Categorical Variables:
1. Extract passengers who embarked at either Cherbourg (C) or Southampton (S).
2. Extract passengers who are in either first or second class.

Author: Bipul Regmi

"""
# Problem 2.0 - Subsetting Rows

# Passengers with fare greater than 100
fare_gt_100 = titanic_df[titanic_df["Fare"] > 100][["Name", "Fare"]]
print("\n\nPassengers with Fare > 100:")
display(fare_gt_100)

# First-class passengers
first_class = titanic_df[titanic_df["Pclass"] == 1][["Name", "Pclass"]]
print("\n\nFirst-class passengers:")
display(first_class)

# Female passengers under 18
female_under_18 = titanic_df[(titanic_df["Age"] < 18) & (titanic_df["Sex"] == "female")][["Name", "Age", "Sex"]]
print("\n\nFemale passengers under 18:")
display(female_under_18)




# Problem 2.1 - Subsetting by Categorical Variables

# Passengers embarked at Cherbourg (C) or Southampton (S)
embarked_c_or_s = titanic_df[titanic_df["Embarked"].isin(["C", "S"])]
print("\n\nPassengers embarked at Cherbourg or Southampton:")
display(embarked_c_or_s)

# Passengers in first or second class
first_second_class = titanic_df[titanic_df["Pclass"].isin([1, 2])]
print("\n\nPassengers in first or second class:")
display(first_second_class)

Passengers with Fare > 100:

                                                  Name      Fare
27                      Fortune, Mr. Charles Alexander  263.0000
31      Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
88                          Fortune, Miss. Mabel Helen  263.0000
118                           Baxter, Mr. Quigg Edmond  247.5208
195                               Lurette, Miss. Elise  146.5208
215                            Newell, Miss. Madeleine  113.2750
258                                   Ward, Miss. Anna  512.3292
268      Graham, Mrs. William Thompson (Edith Junkins)  153.4625
269                             Bissette, Miss. Amelia  135.6333
297                       Allison, Miss. Helen Loraine  151.5500
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  247.5208
305                     Allison, Master. Hudson Trevor  151.5500
306                            Fleming, Miss. Margaret  110.8833
307  Penasco y Castellana, Mrs. Victor de Satode (M...  108.9000
311                         Ryerson, Miss. Emily Borie  262.3750
318                           Wick, Miss. Mary Natalie  164.8667
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  134.5000
325                           Young, Miss. Marie Grice  135.6333
332                          Graham, Mr. George Edward  153.4625
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  133.6500
337                    Burns, Miss. Elizabeth Margaret  134.5000
341                     Fortune, Miss. Alice Elizabeth  263.0000
373                                Ringhini, Mr. Sante  135.6333
377                          Widener, Mr. Harry Elkins  211.5000
380                              Bidois, Miss. Rosalie  227.5250
390                         Carter, Mr. William Ernest  120.0000
393                             Newell, Miss. Marjorie  113.2750
435                          Carter, Miss. Lucile Polk  120.0000
438                                  Fortune, Mr. Mark  263.0000
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  151.5500
505         Penasco y Castellana, Mr. Victor de Satode  108.9000
527                                 Farthing, Mr. John  221.7792
537                                LeRoy, Miss. Bertha  106.4250
544                         Douglas, Mr. Walter Donald  106.4250
550                        Thayer, Mr. John Borland Jr  110.8833
557                                Robbins, Mr. Victor  227.5250
581  Thayer, Mrs. John Borland (Marian Longstreth M...  110.8833
609                          Shutes, Miss. Elizabeth W  153.4625
659                         Newell, Mr. Arthur Webster  113.2750
660                      Frauenthal, Dr. Henry William  133.6500
679                 Cardeza, Mr. Thomas Drake Martinez  512.3292
689                  Madill, Miss. Georgette Alexandra  211.3375
698                           Thayer, Mr. John Borland  110.8833
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  227.5250
708                               Cleaver, Miss. Alice  151.5500
716                      Endres, Miss. Caroline Louise  227.5250
730                      Allen, Miss. Elisabeth Walton  211.3375
737                             Lesurer, Mr. Gustave J  512.3292
742              Ryerson, Miss. Susan Parker "Suzette"  262.3750
763          Carter, Mrs. William Ernest (Lucile Polk)  120.0000
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  211.3375
802                Carter, Master. William Thornton II  120.0000
856         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667

First-class passengers:

                                                  Name  Pclass
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
6                              McCarthy, Mr. Timothy J       1
11                            Bonnell, Miss. Elizabeth       1
23                        Sloper, Mr. William Thompson       1
..                                                 ...     ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)       1
872                           Carlsson, Mr. Frans Olof       1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)       1
887                       Graham, Miss. Margaret Edith       1
889                              Behr, Mr. Karl Howell       1

[216 rows x 2 columns]

Female passengers under 18:

                                                  Name    Age     Sex
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.00  female
10                     Sandstrom, Miss. Marguerite Rut   4.00  female
14                Vestrom, Miss. Hulda Amanda Adolfina  14.00  female
22                         McGowan, Miss. Anna "Annie"  15.00  female
24                       Palsson, Miss. Torborg Danira   8.00  female
39                         Nicola-Yarred, Miss. Jamila  14.00  female
43            Laroche, Miss. Simonne Marie Anne Andree   3.00  female
58                        West, Miss. Constance Mirium   5.00  female
68                     Andersson, Miss. Erna Alexandra  17.00  female
71                          Goodwin, Miss. Lillian Amy  16.00  female
84                                 Ilett, Miss. Bertha  17.00  female
111                               Zabour, Miss. Hileni  14.50  female
114                              Attalah, Miss. Malake  17.00  female
119                  Andersson, Miss. Ellis Anna Maria   2.00  female
147                   Ford, Miss. Robina Maggie "Ruby"   9.00  female
156                   Gilnagh, Miss. Katherine "Katie"  16.00  female
172                       Johnson, Miss. Eleanor Ileen   1.00  female
184                Kink-Heilmann, Miss. Luise Gretchen   4.00  female
205                         Strom, Miss. Telma Matilda   2.00  female
208                          Carr, Miss. Helen "Ellen"  16.00  female
233                     Asplund, Miss. Lillian Gertrud   5.00  female
237                   Collyer, Miss. Marjorie "Lottie"   8.00  female
297                       Allison, Miss. Helen Loraine   2.00  female
307  Penasco y Castellana, Mrs. Victor de Satode (M...  17.00  female
329                       Hippach, Miss. Jean Gertrude  16.00  female
374                         Palsson, Miss. Stina Viola   3.00  female
381                        Nakid, Miss. Maria ("Mary")   1.00  female
389                              Lehmann, Miss. Bertha  17.00  female
419                          Van Impe, Miss. Catharina  10.00  female
435                          Carter, Miss. Lucile Polk  14.00  female
446                  Mellinger, Miss. Madeleine Violet  13.00  female
448                     Baclini, Miss. Marie Catherine   5.00  female
469                      Baclini, Miss. Helene Barbara   0.75  female
479                           Hirvonen, Miss. Hildur E   2.00  female
504                              Maioni, Miss. Roberta  16.00  female
530                           Quick, Miss. Phyllis May   2.00  female
535                             Hart, Miss. Eva Miriam   7.00  female
541               Andersson, Miss. Ingeborg Constanzia   9.00  female
542                  Andersson, Miss. Sigrid Elisabeth  11.00  female
618                        Becker, Miss. Marion Louise   4.00  female
634                                 Skoog, Miss. Mabel   9.00  female
642                      Skoog, Miss. Margit Elizabeth   2.00  female
644                             Baclini, Miss. Eugenie   0.75  female
689                  Madill, Miss. Georgette Alexandra  15.00  female
691                                 Karun, Miss. Manca   4.00  female
720                  Harper, Miss. Annie Jessie "Nina"   6.00  female
750                                  Wells, Miss. Joan   4.00  female
777                      Emanuel, Miss. Virginia Ethel   5.00  female
780                               Ayoub, Miss. Banoura  13.00  female
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  17.00  female
813                 Andersson, Miss. Ebba Iris Alfrida   6.00  female
830            Yasbeck, Mrs. Antoni (Selini Alexander)  15.00  female
852                            Boulos, Miss. Nourelain   9.00  female
853                          Lines, Miss. Mary Conover  16.00  female
875                   Najib, Miss. Adele Kiamie "Jane"  15.00  female

Passengers embarked at Cherbourg or Southampton:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0.282000,2.350000
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947,30.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S,0.837500,7.816667
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000

Passengers in first or second class:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.2833
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.1000
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.8625
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,2.147914,15.0354
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0.457759,26.5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,1.040000,13.0000
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0.375000,5.2500
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.5000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947,30.0000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.0000

# 3.2 Exploratory Data Analysis Practice Exercise - 1.

##Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [33]:
from IPython.core.interactiveshell import dis
"""
Problem: Identify the passenger who paid the highest fare relative to their age.

Steps performed:
1. Create a 'FarePerYear' column by dividing 'Fare' by 'Age'.
2. Subset passengers where 'FarePerYear' > 5.
3. Sort this subset in descending order of 'FarePerYear'.
4. Select only 'Name' and 'FarePerYear' columns to display the result.

Author: Bipul Regmi
"""

#Fill missing Age values with median to avoid division by NaN
titanic_df["Age"] = titanic_df["Age"].fillna(titanic_df["Age"].median())

#Add column 'FarePerYear'
titanic_df["FarePerYear"] = titanic_df["Fare"] / titanic_df["Age"]
print("\n\nFarePerYear column:")
display(titanic_df["FarePerYear"])

#Subset rows where FarePerYear > 5
high_fare_age = titanic_df[titanic_df["FarePerYear"] > 5]
print("\n\nPassengers with FarePerYear > 5:")
display(high_fare_age)

#Sort by FarePerYear descending
high_fare_age_srt = high_fare_age.sort_values(by="FarePerYear", ascending=False)
print("\n\nPassengers with FarePerYear > 5 sorted by FarePerYear:")
display(high_fare_age_srt)

#Select only 'Name' and 'FarePerYear'
result = high_fare_age_srt[["Name", "FarePerYear"]]

#View the result
print("\n\nPassengers with highest fare relative to age:")
display(result)

FarePerYear column:

0      0.329545
1      1.875876
2      0.304808
3      1.517143
4      0.230000
         ...
886    0.481481
887    1.578947
888    0.837500
889    1.153846
890    0.242188
Name: FarePerYear, Length: 891, dtype: float64

Passengers with FarePerYear > 5:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,10.537500,7.025000
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,14.562500,9.708333
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,13.842105,263.000000
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.00,1,0,PC 17569,146.5208,B78,C,5.232886,146.520800
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733,20.789600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S,5.212500,10.425000
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,19.843750,13.229167
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,37.004200,18.502100
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,22.590361,9.375000
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,7.818750,10.425000

Passengers with FarePerYear > 5 sorted by FarePerYear:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261,151.550000
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000,151.550000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000,15.633333
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500,13.229167
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000,19.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,5.300000,5.300000
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.00,1,0,PC 17569,146.5208,B78,C,5.232886,146.520800
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,5.231250,3.487500
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S,5.212500,10.425000
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.00,5,2,CA 2144,46.9000,NaN,S,5.211111,15.633333

Passengers with highest fare relative to age:

                                               Name  FarePerYear
305                  Allison, Master. Hudson Trevor   164.728261
297                    Allison, Miss. Helen Loraine    75.775000
386                 Goodwin, Master. Sidney Leonard    46.900000
164                    Panula, Master. Eino Viljami    39.687500
183                       Becker, Master. Richard F    39.000000
..                                              ...          ...
348          Coutts, Master. William Loch "William"     5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)     5.232886
205                      Strom, Miss. Telma Matilda     5.231250
813              Andersson, Miss. Ebba Iris Alfrida     5.212500
480                  Goodwin, Master. Harold Victor     5.211111

[71 rows x 2 columns]

##Which adult male passenger (age  18 and Sex is male) paid the highest fare relative to their class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is male) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [28]:
"""
Problem: Identify the adult male passenger who paid the highest fare relative to their class.

Workflow:
1. Create a new column 'FarePerClass' as Fare divided by Pclass.
2. Filter the dataset to include only adult male passengers (Age  18 and Sex = 'male').
3. Sort the filtered dataset in descending order of 'FarePerClass'.
4. Select and display only the 'Name', 'Age', and 'FarePerClass' columns.

"""

# Add column 'FarePerClass'
titanic_df["FarePerClass"] = titanic_df["Fare"] / titanic_df["Pclass"]
display(titanic_df["FarePerClass"])

# Filter adult male passengers (Age  18)
adult_males = titanic_df[(titanic_df["Sex"] == "male") & (titanic_df["Age"] >= 18)]
display(adult_males)

# Sort adult males by FarePerClass in descending order
adult_males_srt = adult_males.sort_values(by="FarePerClass", ascending=False)
display(adult_males_srt)

# Select only 'Name', 'Age', and 'FarePerClass'
result = adult_males_srt[["PassengerId","Name", "Sex", "Age", "Ticket", "Cabin","FarePerClass"]]

# Display the result
print("\n\nAdult male passengers with highest fare relative to class:")
display(result)

0       2.416667
1      71.283300
2       2.641667
3      53.100000
4       2.683333
         ...
886     6.500000
887    30.000000
888     7.816667
889    30.000000
890     2.583333
Name: FarePerClass, Length: 891, dtype: float64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0.302082,2.819433
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0.375000,5.250000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0.282000,2.350000
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,2.583333

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FarePerYear,FarePerClass
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,10.313367,247.5208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S,0.000000,0.0000
732,733,0,2,"Knight, Mr. Robert J",male,28.0,0,0,239855,0.0000,NaN,S,0.000000,0.0000
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,0.000000,0.0000
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,0.000000,0.0000
815,816,0,1,"Fry, Mr. Richard",male,28.0,0,0,112058,0.0000,B102,S,0.000000,0.0000

Adult male passengers with highest fare relative to class:

,PassengerId,Name,Sex,Age,Ticket,Cabin,FarePerClass
737,738,"Lesurer, Mr. Gustave J",male,35.0,PC 17755,B101,512.3292
679,680,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,PC 17755,B51 B53 B55,512.3292
27,28,"Fortune, Mr. Charles Alexander",male,19.0,19950,C23 C25 C27,263.0000
438,439,"Fortune, Mr. Mark",male,64.0,19950,C23 C25 C27,263.0000
118,119,"Baxter, Mr. Quigg Edmond",male,24.0,PC 17558,B58 B60,247.5208
...,...,...,...,...,...,...,...
179,180,"Leonard, Mr. Lionel",male,36.0,LINE,NaN,0.0000
732,733,"Knight, Mr. Robert J",male,28.0,239855,NaN,0.0000
822,823,"Reuchlin, Jonkheer. John George",male,38.0,19972,NaN,0.0000
806,807,"Andrews, Mr. Thomas Jr",male,39.0,112050,A36,0.0000
815,816,"Fry, Mr. Richard",male,28.0,112058,B102,0.0000

# 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

## What percent of the total fare revenue came from each passenger class?
To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [32]:
"""
Problem: Calculate what percent of the total fare revenue came from each passenger class.

Workflow:
1. Compute the total fare collected from all passengers.
2. Calculate the total fare collected from first-class passengers (Pclass = 1).
3. Calculate the total fare collected from second-class passengers (Pclass = 2).
4. Calculate the total fare collected from third-class passengers (Pclass = 3).
5. Combine the totals into a list and compute the proportion of each class relative to the overall total fare.
6. Display the result as percentages.

Author: Bipul Regmi

"""

# Total fare across all passengers
total_fare = titanic_df["Fare"].sum()
print("\n\nTotal fare collected by all passengers:", total_fare)


# Total fare by class
fare_first_class = titanic_df[titanic_df["Pclass"] == 1]["Fare"].sum()
print("\n\nTotal fare collected by first class passengers:", fare_first_class)
fare_second_class = titanic_df[titanic_df["Pclass"] == 2]["Fare"].sum()
print("\n\nTotal fare collected by second class passengers:", fare_second_class)
fare_third_class = titanic_df[titanic_df["Pclass"] == 3]["Fare"].sum()
print("\n\nTotal fare collected by third class passengers:", fare_third_class)

# Combine into a list
fare_by_class = [fare_first_class, fare_second_class, fare_third_class]

# Calculate percentage of total fare for each class
fare_percentage = [(f / total_fare) * 100 for f in fare_by_class]


# Display the results
print("\n\nPercentage of total fare revenue by class:")
print(f"First Class: {fare_percentage[0]:.2f}%")
print(f"Second Class: {fare_percentage[1]:.2f}%")
print(f"Third Class: {fare_percentage[2]:.2f}%")

Total fare collected by all passengers: 28693.9493


Total fare collected by first class passengers: 18177.4125


Total fare collected by second class passengers: 3801.8417


Total fare collected by third class passengers: 6714.6951


Percentage of total fare revenue by class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

## What percent of the total number of passengers on the Titanic belonged to each age group (e.g., child, adult, senior)?
To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [ ]:
"""
Problem: Calculate what percent of the total number of passengers on the Titanic belonged to each age group.

Workflow:
1. Create a new column 'AgeGroup' that categorizes passengers as:
   - "child" for age < 18
   - "adult" for age 1864
   - "senior" for age  65
2. Calculate the total number of passengers.
3. Count the number of passengers in each age group.
4. Compute the proportion of each age group relative to the total number of passengers.
5. Display the results as percentages.

Author: Bipul Regmi
"""

# Create age group column
titanic_df["AgeGroup"] = pd.cut(titanic_df["Age"], bins=[0, 17, 64, 200], labels=["child", "adult", "senior"])

# Total passengers
total_passengers = titanic_df.shape[0]

# Count of passengers by age group
age_group_counts = titanic_df["AgeGroup"].value_counts()

# Percentage of passengers in each age group
age_group_percentage = (age_group_counts / total_passengers) * 100

# Display results
print("\n\nPercentage of passengers by age group:")
for group, percent in age_group_percentage.items():
    print(f"{group.capitalize()}: {percent:.2f}%")

Percentage of passengers by age group:
Adult: 86.08%
Child: 12.68%
Senior: 1.23%